.tooltip {
        background: #6c7086; /* use different stylizing because this isn't peach's site */
        color: #cdd6f4; /* use different stylizing because this isn't peach's site */
        /* rest is specified as per peach's documentation and should NOT be changed */
        position: fixed;
        padding: 6px 10px;
        border-radius: 6px;
        font-size: 14px;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.15s ease;
        z-index: 3;
}

.tooltip.visible { opacity: 1; }